<!DOCTYPE html>
<html>
<head>
    <title>UPNepa</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/base.css" />
    <link rel="stylesheet" href="assets/css/vendor.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
<body>
    <section id="home">
               <div class="overlay"></div>
               <div class="home-content-table">
                   <div class="home-content-tablecell">
                       <div class="row">
                           <div class="col-twelve">
                            <img src="images/ot.png"/><br>
                                      <h1 class="animate-intro">
                                    #upnepa douglas  <br>
                                    #upnepa surulere
                                      </h1>
                                      <div class="more animate-intro">
                                          <a class="smoothscroll button stroke" href="https://web.facebook.com/messages/t/UpNepas">
                                              Chat on Messenger
                                          </a>
                                      </div>
                              </div>
                       </div>
                   </div>
                </div>
                <ul class="home-social-list">
                  <li class="animate-intro">
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                  </li>
                  <li class="animate-intro">
                        <a href="www.twitter.com/OwerriTG"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li class="animate-intro">
                        <a href="#"><i class="fa fa-instagram"></i></a>
                  </li>
               </ul>
           </section>
           <section id="About">
            <div class="overlay"></div>
            <div class="home-content-table">
                <div class="home-content-tablecell">
                    <div class="row">
                        <div class="col-twelve">
                                   <h1 class="animate-intro">About UpNepa Bot</h1>
                                   <style>
@import url('https://fonts.googleapis.com/css?family=Antic+Slab');
</style>
                                   <h5 class="animate-intro">
                                 #upnepa bot is a friendly bot that tells people areas where power is available.<br>
                                       The bot also collects data from people when light is available<br>
                                       To indicate power is avialable in your area just type upnepa and area e.g <br>
                                        [ upnepa douglas ]<br>
                                       To ask about power in an area just type area e.g <br>
                                        [  surulere ]
                                   </h5>
                           </div>
                    </div>
                </div>
             </div>

        </section>
</body>
<div class="footer-bottom">
                  <div class="row">
                      <div class="col-twelve">
                          <div class="copyright">
                             <span>? Copyright Owerri Tech Group</span>
                             <span>Design by Owerri Tech Group</span>
                         </div>
                      </div>
                  </div>
              </div>
</html>
